<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>


    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/spotlight_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Spotlight"
        tools:targetApi="31"
        android:networkSecurityConfig="@xml/network_security_config">

        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" />

        <!--        &lt;!&ndash; MainActivity 설정 &ndash;&gt;-->
<!--        <activity-->
<!--            android:name=".MainActivity"-->
<!--            android:exported="true" />-->

        <!-- 기타 액티비티 설정 -->
        <activity android:name=".LoginActivity" />
        <activity android:name=".AlarmActivity" />
        <activity android:name=".AlarmGeneralActivity"/>
        <activity android:name=".ElectronicActivity"/>

        <activity android:name=".GeneralProposeManageActivity"/>
        <activity android:name=".GraduateStep1Activity" />
        <activity android:name=".GraduatesProposeActivity" />

        <activity android:name=".ItemDetailActivity" />
        <activity android:name=".ItemDetailMemberGeneralActivity"/>
        <activity android:name=".ItemDetailMemberRecruiterActivity"/>
        <activity android:name=".ItemRecruiterProposeActivity"/>

        <activity android:name=".ManagePostingActivity" />
        <activity android:name=".ManagePostingGeneralActivity"/>
        <activity android:name=".MyPageGeneralPortfolioActivity"/>
        <activity android:name=".MyPagePortfolioActivity"/>
        <activity android:name=".MyPageRecruiterActivity"/>

        <activity android:name=".NewPostingActivity"/>
        <activity android:name=".NewPostingExhibitionActivity"/>
        <activity android:name=".NewPostingMemberActivity"/>

        <activity android:name=".PostingEditActivity"/>
        <activity android:name=".ProfileGeneralActivity"/>
        <activity android:name=".ProfileGeneralEditActivity"/>
        <activity android:name=".ProfileGraduatesActivity"/>
        <activity android:name=".ProfileGraduatesEditActivity"/>
        <activity android:name=".ProfileRecruiterActivity"/>
        <activity android:name=".ProfileRecruiterEditActivity"/>

        <activity android:name=".RecruiterProposeActivity" />
        <activity android:name=".RecruiterProposeManageActivity"/>
        <activity android:name=".RecruiterProposeEditActivity"/>
        <activity android:name=".RecruiterStep1Activity" />
        <activity android:name=".RecruiterStep2Activity" />

        <activity android:name=".ScrapGraduatesActivity"/>
        <activity android:name=".ScrapGraduatesDetailActivity"/>
        <activity android:name=".ScrapProjectActivity"/>
        <activity android:name=".ScrapStageActivity"/>
        <activity android:name=".SearchActivity"/>
        <activity android:name=".SearchResultActivity"/>
        <activity android:name=".SearchSchoolActivity"/>

        <activity android:name=".SignupStep1Activity" />
        <activity android:name=".SignupStep2Activity" />
        <activity android:name=".SignupStep3Activity" />
        <activity android:name=".SignupStep4Activity" />
        <activity android:name=".SignupStep5Activity" />
        <activity android:name=".StageActivity" />
        <activity android:name=".StageDetailMemberActivity" />
        <activity android:name=".StageRecruiterProposeActivity" />
        <activity android:name=".StageDetailActivity" android:exported="true"/>





    </application>

</manifest>
