<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>


    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/spotlight_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Spotlight"
        tools:targetApi="31"
        android:networkSecurityConfig="@xml/network_security_config">

        <activity
            android:name=".application.SplashActivity"
            android:theme="@style/SplashTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".main.MainActivity" />

        <!--        &lt;!&ndash; MainActivity 설정 &ndash;&gt;-->
<!--        <activity-->
<!--            android:name=".MainActivity"-->
<!--            android:exported="true" />-->

        <!-- 기타 액티비티 설정 -->
        <activity android:name=".authentication.LoginActivity" />
        <activity android:name=".alarm.AlarmActivity" />
        <activity android:name=".alarm.AlarmGeneralActivity"/>
        <activity android:name=".ElectronicActivity"/>
        <activity android:name=".main.ChatbotActivity" />

        <activity android:name=".recruiter.GeneralProposeManageActivity"/>
        <activity android:name=".authentication.GraduateStep1Activity" />
        <activity android:name=".graduates.GraduatesProposeActivity" />

        <activity android:name=".posting.ItemDetailActivity" />
        <activity android:name=".posting.ItemDetailMemberGeneralActivity"/>
        <activity android:name=".posting.ItemDetailMemberRecruiterActivity"/>
        <activity android:name=".posting.ItemRecruiterProposeActivity"/>

        <activity android:name=".posting.ManagePostingActivity" />
        <activity android:name=".posting.ManagePostingGeneralActivity"/>
        <activity android:name=".mypage.MyPageGeneralPortfolioActivity"/>
        <activity android:name=".mypage.MyPagePortfolioActivity"/>
        <activity android:name=".mypage.MyPageRecruiterActivity"/>

        <activity android:name=".posting.NewPostingActivity"/>
        <activity android:name=".posting.NewPostingExhibitionActivity"/>
        <activity android:name=".posting.NewPostingMemberActivity"/>

        <activity android:name=".PostingEditActivity"/>
        <activity android:name=".profile.ProfileGeneralActivity"/>
        <activity android:name=".profile.ProfileGeneralEditActivity"/>
        <activity android:name=".profile.ProfileGraduatesActivity"/>
        <activity android:name=".profile.ProfileGraduatesEditActivity"/>
        <activity android:name=".profile.ProfileRecruiterActivity"/>
        <activity android:name=".profile.ProfileRecruiterEditActivity"/>

        <activity android:name=".recruiter.RecruiterProposeActivity" />
        <activity android:name=".recruiter.RecruiterProposeManageActivity"/>
        <activity android:name=".recruiter.RecruiterProposeEditActivity"/>
        <activity android:name=".authentication.RecruiterStep1Activity" />
        <activity android:name=".authentication.RecruiterStep2Activity" />

        <activity android:name=".scrap.ScrapGraduatesActivity"/>
        <activity android:name=".scrap.ScrapGraduatesDetailActivity"/>
        <activity android:name=".scrap.FakeScrapGraduatesActivity"/>
        <activity android:name=".scrap.ScrapProjectActivity"/>
        <activity android:name=".scrap.ScrapStageActivity"/>
        <activity android:name=".search.SearchActivity"/>
        <activity android:name=".search.SearchResultActivity"/>
        <activity android:name=".search.SearchResultBrandingActivity" />
        <activity android:name=".search.SearchSchoolActivity"/>

        <activity android:name=".authentication.SignupStep1Activity" />
        <activity android:name=".authentication.SignupStep2Activity" />
        <activity android:name=".authentication.SignupStep3Activity" />
        <activity android:name=".authentication.SignupStep4Activity" />
        <activity android:name=".authentication.SignupStep5Activity" />
        <activity android:name=".stage.StageActivity" />
        <activity android:name=".stage.StageDetailMemberActivity" />
        <activity android:name=".profile.PsjPortfolioActivity" />
        <activity android:name=".stage.StageRecruiterProposeActivity" />
        <activity android:name=".stage.StageDetailActivity" android:exported="true"/>





    </application>

</manifest>
